.App {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #000000;
}

.container.main-container {
    margin-top: 5px;
}

/* homepage styling */
.homepage {
    height: 100vh;
    width: 100vw;
    background: #000000;
}
.homepage h3 {
    color: #ffffff;
}

/* Nav icon styling */
nav {
    background-color: #000000;
}

i.large.material-icons {
    font-size: 50px;
}

/* Movie Card + Show Card styling */
.movie-card .show-card .person-card {
    height: 50vh;
    width: 100%;
    margin: 5px 0;
    /* box-shadow: 0 0 4px 0 rgba(0,0,0,0.9);
    background: #222;
    color: #F2F2F2; */
}

.movie-card img, .show-card img, .person-card img {
    height: 45vh;
    width: 100%;
    margin-bottom: 5px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.9);
    background: #222;
    color: #F2F2F2;
}
